{#
Displays a single dataset of type 'showcase'.

package        - A package to display.
item_class     - The class name to use on the list item.
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).
show_remove    - If True, show the remove button to remove showcase/dataset association.

#}
{% set truncate = truncate or 300 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = h.get_translated(package, 'title') or package.name %}
{% set platforms = package.platform %}
{% set notes = h.markdown_extract(h.get_translated(package, 'notes'), extract_length=truncate) %}

{% block package_item %}

<li class="showcase media-item">
  {% block item_inner %}
    {% block image %}
      <img src="{{ package.image_1_display_url or h.url_for_static('/images/showcase_placeholder.png') }}" alt="{{ package.name }}" class="media-image">
    {% endblock %}
    <div class="item-content item-content-slide-up">
      {% block title %}
        <h3 class="media-heading">
          {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='read', id=package.name)) }}
        </h3>
      {% endblock %}
      {% block rating %}
      {% endblock %}
      {% block platforms %}
        {% if platforms %}
          <div class="item-platform">
            <p><i class="fa fa-folder-open opendata-category-icon" aria-hidden="true"></i> {{ platforms|join(', ') }}</p>
          </div>
        {% endif %}
      {% endblock %}
      {% block notes %}
        {% if notes %}
          <div class="item-description">
            {{ notes|urlize }}
          </div>

        {% else %}
          <p class="empty">{{ _("This showcase has no description") }}</p>
        {% endif %}
      {% endblock %}
      {% if show_remove %}
        <form method="post"><input type="hidden" value="{{ package.id }}" name="remove_showcase_id" /><input value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-small media-edit" title="{{ _('Remove dataset from this showcase') }}"/></form>
      {% endif %}
    </div>
  {% endblock %}
</li>
{% endblock %}
