{% extends "page.html" %}

{% set pkg = c.pkg_dict %}
{% set name = h.get_translated(pkg, 'title') or pkg.name %}

{% block subtitle %}{{ name }} - {{ _('Showcases') }}{% endblock %}

{% block links -%}
  {{ super() }}
  <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ h.full_current_url() }}">
  {% if pkg.image_display_url %}
     <meta property="og:image" content="{{ pkg.image_display_url }}">
  {% endif %}
{% endblock -%}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
  {% set showcase = h.get_translated(pkg, 'title') or pkg.name %}
  <li>{{ h.nav_link(_('Showcases'), controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='search', highlight_actions = 'new index') }}</li>
  <li{{ self.breadcrumb_content_selected() }}>{% link_for showcase|truncate(30), controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='read', id=pkg.name %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block primary_content %}
  <div class="showcase-content">
    <div class="mt-2">
      {% if pkg.icon_display_url %}
        <div class="showcase-heading-icon">
          <img src="{{ pkg.icon_display_url }}">
        </div>
      {% endif %}

      <div class="headings-wrapper">
        <h1 class="page-heading">
          {% block page_heading %}
            {{ name }} {% if pkg.archived == 'true' %}<span class="heading-extra">({{ _('Archived') }})</span>{% endif %}
            {% if pkg.state.startswith('draft') %}
              [{{ _('Draft') }}]
            {% endif %}
          {% endblock %}
        </h1>
        {% block page_subheading %}
          {% set lang = h.get_lang_prefix() %}
          <h2 class="page-subheading">
            {% if pkg.author %}
              <span class="subheading-section">{{ pkg.author }}</span>
              <span> - </span>
            {% endif %}
            <span class="subheading-section">{{ _('Published') }} {{ h.render_datetime(pkg.metadata_created, '%-d.%-m.%Y') }}</span>
            <span> - </span>
            <span class="subheading-section">{{ _('updated') }} {{ h.render_datetime(pkg.metadata_modified, '%-d.%-m.%Y') }}</span>
          </h2>
          <h2 class="page-subheading">
            <span class="subheading-section">
              {% snippet 'sixodp_showcase/snippets/tags.html', tags=pkg.keywords %}
            </span>
          </h2>
        {% endblock %}
      </div>
      {#
      <div class="heading-rating-wrapper">
        {% block rating %}
          {% snippet "rating/snippets/rating_single.html", package=pkg, enable_input="true" %}
        {% endblock %}
      </div>
    #}
    </div>

    {% if pkg.image_1_display_url or pkg.image_2_display_url or pkg.image_3_display_url or pkg.image_4_display_url %}
    <div class="image-slider-wrapper">
      <ol class="image-slider">
        {% if pkg.image_1_display_url %}<li><a href="{{ pkg.image_1_display_url }}"><img class="image-modal-open" alt="{{ pkg.image_1 }}" src="{{ pkg.image_1_display_url }}"></a></li>{% endif %}
        {% if pkg.image_2_display_url %}<li><a href="{{ pkg.image_2_display_url }}"><img class="image-modal-open" alt="{{ pkg.image_2 }}" src="{{ pkg.image_2_display_url }}"></a></li>{% endif %}
        {% if pkg.image_3_display_url %}<li><a href="{{ pkg.image_3_display_url }}"><img class="image-modal-open" alt="{{ pkg.image_3 }}" src="{{ pkg.image_3_display_url }}"></a></li>{% endif %}
        {% if pkg.image_4_display_url %}<li><a href="{{ pkg.image_4_display_url }}"><img class="image-modal-open" alt="{{ pkg.image_4 }}" src="{{ pkg.image_4_display_url }}"></a></li>{% endif %}
      </ol>
    </div>
    {% endif %}

    {# {% snippet 'sixodp_showcase/snippets/photoswipe.html' %} #}
    {% block offcanvas_button %}{% endblock %}

    {% block package_description %}
      {% if h.check_access('ckanext_showcase_update', {'id':pkg.id }) %}
        <div class="actions">
        {% link_for _('Manage'), controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='edit', id=pkg.name, class_='btn', icon='wrench' %}
        </div>
      {% endif %}

      {% block store_icons %}
        {{ h.snippet('sixodp_showcase/snippets/store_icon_links.html', store_links=pkg.store_urls) }}
      {% endblock %}

      {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
          <i class="icon-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}

      {% if pkg.image_display_url %}
        <p class="ckanext-showcase-image-container"><img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image"></p>
      {% endif %}

      {% block package_notes %}
        {% if pkg.notes_translated %}
          <div class="notes embedded-content ckanext-showcase-notes">
            {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
          </div>
        {% endif %}
      {% endblock %}

      {% if pkg.url %}
        <p><a class="btn btn-primary ckanext-showcase-launch" href="{{ pkg.url }}" target="_blank"><i class="icon-external-link"></i> {{ _('Launch website') }}</a></p>
      {% endif %}
    {% endblock %}

    <hr>

    {% block package_info %}
      <h2>{{ _('Used datasets') }}</h2>
      {% if c.showcase_pkgs %}
        {{ h.snippet('snippets/package_list.html', packages=c.showcase_pkgs) }}
      {% else %}
        <p class="module-content empty">{{_('There are no Datasets in this Showcase')}}</p>
      {% endif %}
    {% endblock %}
    </div>
{% endblock %}




{% block secondary_content %}
  {% block secondary_help_content %}{% endblock %}

  {% block application_website_link %}
    <section class="module module-narrow">
      <h3 class="module-heading">
        {% trans %}
        Links
        {% endtrans %}
      </h3>
      <ul class="nav nav-simple">
        <li class="nav-item">
          <a class="application-website-link" href="{{pkg.application_website}}">
            {{ _('Application website') }}
            <i class="fas fa-external-link"></i>
          </a>
        </li>
        {% if pkg.author_website %}
        <li class="nav-item">
          <a class="application-website-link" href="{{pkg.author_website}}">
            {{ _('Author website') }}
            <i class="fas fa-external-link"></i>
          </a>
        </li>
      {% endif %}
      </ul>
    </section>
  {% endblock %}

  {% block application_categories %}
    {% set lang = h.get_lang_prefix() %}
    {% set showcase_categories = pkg.category.get(lang) %}
    {% if showcase_categories %}
      <section class="module module-narrow">
        <h3 class="module-heading">
          {% trans %}
          Categories
          {% endtrans %}
        </h3>
        <ul class="nav nav-simple">
          {% for category in showcase_categories %}
            <li class="nav-item">
            {{ category }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  {% endblock %}

  {% block more_from_author %}
    {% set author_showcases = h.get_showcases_by_author(pkg.author, 5, pkg.id) %}
    {% if author_showcases %}
      <section class="module module-narrow">
        <h2 class="module-heading">{{ _('More from the author') }}</h2>
        {{ h.snippet('sixodp_showcase/snippets/related_list.html', packages=author_showcases, current=pkg.id) }}
      </section>
    {% endif %}
  {% endblock %}

  {% block package_social %}
    {% snippet "snippets/social.html" %}
  {% endblock %}
{% endblock %}
