{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block meta %}
{{ super() }}
<meta name="robots" content="noindex, follow" />
{% endblock %}

{% block subtitle %}{{ _("Datasets") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Datasets'), controller='package', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
        <div class="row mb-2">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <h1 class="mb-0">
              {% trans %}
              Datasets
              {% endtrans %}
            </h1>
            {% if h.check_access('package_create') %}
              <div>
                <div class="btn-group d-flex align-items-center flex-wrap">
                  {% link_for _('My Datasets'), named_route='dashboard.datasets', class_='btn btn-avoindata-header', icon='star-empty' %}
                  {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-avoindata-header pr-0', icon='plus-sign' %}
                </div>
              </div>
            {% elif c.user %}
              <div class="alert alert-info">
                <p> {{ _('The Opendata.fi service does not have an organization where you can upload a data set.') }} </p>
                <p>{{ _('Ask your employer\'s open data administrator to add your user account in your organization. If your employer\'s organization has not been created yet on Opendata.fi, ask the service administration to create it before you can continue. Alternatively, you can also ask the data to be published as a private individual.') }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
      {% block form %}
      <div class="row">
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Date Created Ascending'), 'metadata_created asc'),
          (_('Date Created Descending'), 'metadata_created desc'),
          (_('Source'), 'source asc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, query_params=c.fields_grouped %}
      </div>
      {% endblock %}
      <div class="row">
        {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
        {% endblock %}
      </div>
    </div>

    {% block page_pagination %}
      {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  <section class="module">
    <div class="module-content api-help">
      <small>
        {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
        {% set api_doc_link = h.link_to(_('API Docs'), 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version)) %}
        {% if g.dumps_url -%}
          {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link }}) or download a {{ dump_link }}.
          {% endtrans %}
        {% else %}
          {% trans %}
            You can also access this registry using the {{ api_link }} (see {{ api_doc_link}}).
          {% endtrans %}
        {%- endif %}
      </small>
    </div>
  </section>
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% for facet in c.facet_titles %}
    {% set title = c.facet_titles[facet] or h.get_facet_title(name) %}
    {% if facet.startswith('vocab_content_type_')  %}
      {% for item in items or h.get_facet_items_dict('collection_type') %}
        {% if (item.name == 'Interoperability Tools' and item.active == True) %}
          {{ h.snippet('snippets/facet_list.html', title=title, name=facet) }}
        {% endif %}
      {% endfor %}
    {% elif facet == 'vocab_international_benchmarks' %}
      {% if h.check_access('sysadmin') %}
        {{ h.snippet('snippets/facet_list.html', title=title, name=facet) }}
      {% endif %}
    {% else %}
      {{ h.snippet('snippets/facet_list.html', title=title, name=facet) }}
    {% endif %}
  {% endfor %}
{% endblock %}
