# XSS-Protection - Enables XSS filtering. Rather than sanitizing the page, the browser will prevent rendering of the page if an attack is detected.
add_header X-XSS-Protection "1; mode=block";

# Content security policies allowing content to be loaded from specified addresses
add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' platform.twitter.com syndication.twitter.com cdn.syndication.twimg.com *.disqus.com https://disqus.com *.disquscdn.com www.google-analytics.com https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ https://www.google.com; img-src 'self' https: gravatar.com data:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://platform.twitter.com https://ton.twimg.com *.disquscdn.com https://www.google.com https://ajax.googleapis.com; font-src 'self' https://themes.googleusercontent.com; frame-src 'self' {% if nginx_domain is defined%}*.{{ nginx_domain }} {% endif %} {% if nginx_secondary_domain is defined %}*.{{ nginx_secondary_domain}} {% endif %}syndication.twitter.com https://platform.twitter.com https://disqus.com *.disqus.com https://www.google.com/recaptcha/; object-src 'none'; connect-src 'self' https://links.services.disqus.com wss://realtime.services.disqus.com https://epsg.io";

# Strict Transport Security (use only https)
add_header Strict-Transport-Security "max-age=31536000; preload";

# Referer Policy "Send a full URL when performing a same-origin request, only send the origin when the protocol security level stays the same (HTTPS→HTTPS), and send no header to a less secure destination (HTTPS→HTTP)."
add_header Referrer-Policy "strict-origin-when-cross-origin";
