root /var/www/opendata/web;
client_max_body_size {{ nginx_max_resource_size }}M;
gzip_static on;

# Set server to maintenance mode touching the /var/www/maintenance
if (-f /var/www/maintenance) {
    return 503;
}

# Secondary hostname is used with foreign language by default.
rewrite ^/$ $real_scheme://$http_host/{{ item.root_redirect }} permanent;

error_page 503 @maintenance;

location @maintenance {
    root /var/www/resources;
    set $maintenance /static/maintenance.fi.html;
    if ( $request_uri ~* "/(fi|en|sv)/" ){
        set $maintenance /static/maintenance.$1.html;
    }

    rewrite ^(.*)$ $maintenance break;
}

error_page 404 @not_found;

location @not_found {
    root /var/www/resources;
    set $not_found /static/404.fi.html;
    if ( $request_uri ~* "/(fi|en|sv)/" ){
        set $not_found /static/404.$1.html;
    }

    rewrite ^(.*)$ $not_found break;
}


{% if nginx_development_environment %}
error_page 500 @internal_error;

location @internal_error {
    root /var/www/resources;
    set $internal_error /static/500.fi.html;
    if ( $request_uri ~* "/(fi|en|sv)/" ){
        set $internal_error /static/500.$1.html;
    }

    rewrite ^(.*)$ $internal_error break;
}
{% endif %}

# Fix: CKAN file upload give invalid data path when running CKAN under path (/data).
rewrite ^/data/data/(.*)$ $real_scheme://$http_host/data/$1 permanent;
# Fix: Old CKAN file upload paths
rewrite ^/dataset/(.*)$ $real_scheme://$http_host/data/dataset/$1 permanent;

# Disable CKAN main page. Redirect to Drupal main page.
rewrite ^/data/?$ $real_scheme://$http_host/{{ item.root_redirect }} permanent;

rewrite ^/data/(fi|en|en_GB|sv)/?$ $real_scheme://$http_host/$1 permanent;

location = /favicon.ico {
    log_not_found off;
    access_log off;
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

location /resource_cache {
    root {{ nginx_root_path }};
    autoindex off;
    expires {{ nginx_expires }};
    log_not_found off;
}

# Serve files from ckan but not from anywhere else
location ~* ^(?!/data/.*dataset/).*\.(txt|log)$ {
    allow 192.168.0.0/16;
    deny all;
}

location ~ \..*/.*\.php$ {
    return 403;
}

location ~ ^/sites/.*/private/ {
    return 403;
}

location ~ ^/sites/[^/]+/files/.*\.php$ {
    deny all;
}

# Deny settings.php and services.yml files
location ~ /sites/default/.*\.(php|yml|conf|config|cfg)$ {
    deny all;
    return 404;
}

# Config files should not be serverd (web.cofig for example)
location ~ /.*\.(conf|config|cfg)$ {
    deny all;
    return 404;
}

location ~ (^|/)\. {
    return 403;
}

# Rewrite CKAN login paths to Drupal login

location /data/user/login {
    rewrite ^/.* $real_scheme://$http_host/user/login permanent;
}

location /data/user/register {
    rewrite ^/.* $real_scheme://$http_host/user/register permanent;
}

location /data/user/_logout {
    rewrite ^/.* $real_scheme://$http_host/user/logout permanent;
}

# Common assets
location /resources {
    root /var/www;
    autoindex off;
    expires {{ nginx_expires }};
    log_not_found off;
}

location ~ /data/(fi/|en/|sv/)?(catalog.)(rdf|xml|ttl|n3|jsonld) {
    root /var/www;
    expires 1h;
    add_header Cache-Control "public, no-transform";
    set $catalog /$2$3;
    rewrite ^(.*)$ $catalog break;
}


include snippets/nginx_security_headers.conf;

# CKAN is mapped under data
location /data {
    # Same headers here as nginx removes any headers from parent if one additional is added in child definition
    include snippets/nginx_security_headers.conf;

    # Always enforce same origin policy
    add_header X-Frame-Options SAMEORIGIN;
    # Content type options https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options
    add_header X-Content-Type-Options "nosniff" always;

    proxy_pass http://127.0.0.1:{{ item.apache_port }}/data;
    proxy_set_header Host $host;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_cache cache;
    proxy_cache_bypass $no_cache;
    proxy_no_cache $no_cache;
    proxy_cache_valid 30m;
    proxy_cache_key $host$scheme$proxy_host$request_uri;
    proxy_intercept_errors on;
    proxy_read_timeout 120s;
    # In emergency comment out line to force caching
    # proxy_ignore_headers X-Accel-Expires Expires Cache-Control;

    location ~ ^/data/en($|/.*) {
      return 301 /data/en_GB$1;
    }
    location ~ /data/(fi|en|sv)/organization/(.*)/embed{
        # Overwrite X-Frame-Options SAMEORIGIN policy for /embed
        proxy_pass http://127.0.0.1:{{ item.apache_port }}/data/$1/organization/$2/embed$is_args$args;
        add_header Bypass-Sameorigin-Policy 1;
    }

    location ~ /data/(fi/|en/|sv/)?(api/)(.*) {
        proxy_pass http://127.0.0.1:{{ item.apache_port }}/data/$1$2$3?$args;
        # Do not cache api requests
        proxy_no_cache 1;
        # Even if cached, do not use cache
        proxy_cache_bypass 1;
        # Do not show nginx's 404 error page for the API
        proxy_intercept_errors off;
    }
}

# Drupal

location ~ ^/en_GB($|/.*) {
  return 301 /en$1;
}
location / {
    try_files $uri @rewrite;
}

location @rewrite {
    rewrite ^ /index.php;
}

location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $request_filename;
    fastcgi_intercept_errors on;
    fastcgi_pass unix:/tmp/phpfpm.socket;
}

location ~ ^/sites/.*/files/styles/ {
    try_files $uri @rewrite;
}

location ~* ^(?!/data|/resources).*\.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires {{ nginx_expires }};
    log_not_found off;
}

# RDF namespace

location /ns {
    alias /var/www/ns/;
}

