{% import 'macros/form.html' as form %}
{% import 'scheming/macros/form.html' as scheming_form %}

{% resource "ytp_common_js/ytp_form.js" %}
{% resource "ytp_common_js/ytp_select2.js" %}

<script>
  function onSubmit() {
    document.getElementById("submit-showcase-form").submit();
  }
</script>

<form id="submit-showcase-form" enctype="multipart/form-data" class="dataset-form form-horizontal" method="post" action="submit-showcase" data-module="basic-form">
  {% block errors %}{% endblock %}
  {% if message %}
  <div class="alert alert-{{message.class}}">
    {{ message.text }}
  </div>
  {% endif %}
    <h3 class="ytp-group-title">{{_("Showcase title")}}</h3>
      {% call form.input(
        'title',
        id='field-title',
        label=h.scheming_language_text('Name'),
        placeholder=h.scheming_language_text('e.g. Most popular first names by region'),
        value=data['title'],
        error=errors['name'],
        classes=['control-full'],
        attrs={'class': 'form-control'},
        is_required=true
        )
        %}
      {% endcall %}
    <div class="ytp-group-divider"></div>

    <h3 class="ytp-group-title">{{_("Showcase description")}}</h3>
    <h5 class="ytp-group-description">{{_("A short and descriptive explanation about the showcase. Tell for example about possible applications and the creation process, as well as about how open data has been used in the showcase.")}}</h5>
      {% snippet "scheming/form_snippets/fluent_markdown_ex.html", field={
        "field_name": "notes_translated",
        "label": "Description",
        "preset": "fluent_core_markdown_translated",
        "form_placeholder": "Write a description for the showcase.",
        "form_languages": ["fi", "en", "sv"],
        "description": "",
        "only_default_lang_required": true
      }, data=data, errors=errors %}

    <div class="ytp-group-divider"></div>

    <h3 class="ytp-group-title">{{_("Showcase information")}}</h3>

    <div class="control-group control-medium">
      <label class="control-label">{{ _('Datasets used in the showcase') }}</label>
      <div class="field-assistive-text">
        {{_("Select which of the datasets found on opendata.fi were used in the showcase. Search for a dataset by typing its name in the field below.")}}
      </div>
      <input id="dataset"
        name="datasets"
        placeholder="{{ _(' e.g. Most popular first names') }}"
        value="{{ data['datasets'] if data['datasets'] | length > 0 }}"
        class="control-full ytp-select2"
        data-module="autocomplete"
        data-module-source="/api/util/dataset/autocomplete?incomplete=?&package_type=dataset"
        data-module-tags="true"
        data-module-key="name"
        data-module-label="title">
    </div>

    {% call scheming_form.input(
      'platform',
      id='field-platform',
      label=_('Platform'),
      description=_('If you have created a mobile or desktop application, select which platforms it supports.'),
      value=data['platform'],
      error=errors['platform'],
      classes=['control-full ytp-select2'],
      attrs={
        "data-module": "autocomplete",
        "data-module-tags": "",
        "data-module-source": "/api/2/util/tag/autocomplete?incomplete=?&vocabulary_id=platform"
      },
      is_required=false
      )
    %}
    {% endcall %}

    {% call form.input(
      'application_website',
      id='field-application_website',
      label=_('Application website'),
      placeholder=_("Type in application website"),
      value=data['application_website'],
      error=errors['application_website'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=false
      )
    %}
    {% endcall %}

    {{ scheming_form.input_multiple(
      'store_urls',
      id='field-store_urls',
      label=_('Links to app stores'),
      value=data['store_urls'],
      placeholder=_('e.g. appstore.com/app'),
      error=errors['store_urls'],
      attrs={'class': 'form-control', 'data-module': 'ytp_main_input_multiple'},
      is_required=false,
      classes=['control-medium']) }}

    {% call form.input(
      'author',
      id='field-author',
      label=_('Name or organization of the author'),
      placeholder='',
      value=data['author'],
      error=errors['author'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=true
      )
    %}
    {% endcall %}

    {% call form.input(
      'author_website',
      id='field-author_website',
      label=_('Author Website'),
      placeholder='http://www.example.com',
      value=data['author_website'],
      error=errors['author_website'],
      classes=['control-medium'],
      attrs={'class': 'form-control'}
      )
    %}
    {% endcall %}

    <div class="ytp-group-divider"></div>

    <h3 class="ytp-group-title">{{_("Submitter information")}}</h3>
    <h5 class="ytp-group-description">{{_("Your name or email address will not be published. The service admins might contact you via email if we need more information about the showcase.")}}</h5>

    {% call form.input(
      'notifier',
      id='notifier',
      label=_('Submitter name'),
      placeholder='e.g. Jane Doe',
      value=data['notifier'],
      error=errors['notifier'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=true
      )
    %}
    {% endcall %}

    {% call form.input(
      'notifier_email',
      id='notifier_email',
      label=_('Submitter email'),
      placeholder='e.g. jane.doe@dvv.fi',
      value=data['notifier_email'],
      error=errors['notifier_email'],
      classes=['control-medium'],
      attrs={'class': 'form-control'},
      is_required=true
      )
    %}
    {% endcall %}

    <div class="ytp-group-divider"></div>

    <h3 class="ytp-group-title">{{_("Showcase images")}}</h3>
    <h5 class="ytp-group-description">{{_("Images will be shown on the showcase page. You can upload images from your computer or link to an URL.")}}</h5>

    {%- set is_upload = (data.url_type == 'upload') -%}
    {{ form.image_upload(
      data,
      errors,
      field_url='icon',
      field_upload='icon_upload',
      field_clear='clear_icon_upload',
      is_upload_enabled=true,
      is_url=data['icon'] and not is_upload,
      is_upload=is_upload,
      upload_label=_('Icon'),
      url_label=_('Icon'),
      placeholder=''
      )
    }}
    <div class="field-assistive-text">
      {% trans %}
        Icon will be shown at the top of the showcase page
      {% endtrans %}
    </div>

    {%- set is_upload = (data.url_type == 'upload') -%}
    {{ form.image_upload(
      data,
      errors,
      field_url='featured_image',
      field_upload='featured_image_upload',
      field_clear='clear_featured_image_upload',
      is_upload_enabled=true,
      is_url=data['featured_image'] and not is_upload,
      is_upload=is_upload,
      upload_label=_('Featured image'),
      url_label=_('Featured image'),
      placeholder=''
      )
    }}
    <div class="field-assistive-text">
      {% trans %}
        Featured image will be shown on the cards in showcase list page.
      {% endtrans %}
    </div>

    {%- set is_upload = (data.url_type == 'upload') -%}
    {{ form.image_upload(
      data,
      errors,
      field_url='image_1',
      field_upload='image_1_upload',
      field_clear='clear_image_1_upload',
      is_upload_enabled=true,
      is_url=data['image_1'] and not is_upload,
      is_upload=is_upload,
      upload_label=_('Image 1'),
      url_label=_('Image 1'),
      placeholder=''
      )
    }}

    {%- set is_upload = (data.url_type == 'upload') -%}
    {{ form.image_upload(
      data,
      errors,
      field_url='image_2',
      field_upload='image_2_upload',
      field_clear='clear_image_2_upload',
      is_upload_enabled=true,
      is_url=data['image_2'] and not is_upload,
      is_upload=is_upload,
      upload_label=_('Image 2'),
      url_label=_('Image 2'),
      placeholder=''
      )
    }}

    {%- set is_upload = (data.url_type == 'upload') -%}
    {{ form.image_upload(
      data,
      errors,
      field_url='image_3',
      field_upload='image_3_upload',
      field_clear='clear_image_3_upload',
      is_upload_enabled=true,
      is_url=data['image_3'] and not is_upload,
      is_upload=is_upload,
      upload_label=_('Image 3'),
      url_label=_('Image 3'),
      placeholder=''
      )
    }}

    <div class="ytp-group-divider"></div>
      {% block form_actions %}
        <div class="form-actions">
          {% block delete_button %}
            <a class="btn suomifi-button-secondary-noborder" href="{% url_for controller='ckanext.sixodp_showcase.controller:Sixodp_ShowcaseController', action='search' %}">{{_("Abort")}}</a>
          {% endblock %}
          {% block save_button %}
            <div id='recaptcha' class="g-recaptcha"
              data-sitekey="{{ h.get_showcasesubmit_recaptcha_sitekey() }}"
              data-callback="onSubmit"
              data-size="invisible"></div>

              <button class="btn suomifi-button-primary"
                      type="submit"
                      name="save">
                {% block save_button_text %}{{ _('Send submission') }}{% endblock %}
              </button>
            </div>
          {% endblock %}
        </div>
      {% endblock %}
</form>
