{% import 'macros/ytp_layout.html' as layout %}

<aside class="module module-narrow additional-info dataset-sidebar secondary col-lg-4">
    {% set interoperability_tools = (pkg.collection_type == 'Yhteentoimivuuden kuvaukset ja ohjeet' or pkg.collection_type == 'Interoperability Tools') %}

    {% block geospatial_map %}
        {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
        {% if dataset_extent %}
            {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=dataset_extent %}
        {% endif %}
    {% endblock %}

    {% block collection_type %}
        {{ layout.moduleBoxHead(_('Collection Type')) }}
            <a href="/data/{{ h.lang() }}/dataset?collection_type={{ pkg.collection_type }}" >
                {{ _(pkg.collection_type) }}
            </a>
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block org_info %}
        {{ layout.moduleBoxHead(_('Organization')) }}
            {% if pkg.organization %}
                <span><a href="/data/{{ h.lang() }}/organization/{{ pkg.organization.get('name') }}">
                {{ h.extra_translation(pkg.organization, 'title') }}</a></span><br />
            {% endif %}
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block info_tags %}
        {{ layout.moduleBoxHead(_('Tags')) }}
            {% snippet 'package/snippets/tags.html', tags=pkg.get('keywords', {}), field='keywords' %}
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block material_type_info %}
        {% if interoperability_tools %}
            {%- if pkg.get( 'content_type') -%}
                {% set lang = h.get_lang_prefix() %}
                {% set con_list = pkg.get( 'content_type' ) %}
                {% if con_list is mapping %}
                    {% set con_list = con_list.get(lang, []) %}
                {% else %}
                    {% set con_list = con_list.split(',') %}
                {% endif %}
                
                {%- if con_list -%}
                    {{ layout.moduleBoxHead(_('Content Type')) }}
                      {% snippet 'package/snippets/tags.html', tags=pkg.content_type, field='content_type' %}
                    {{ layout.moduleBoxFoot() }}
                {%- endif -%}
            {%- endif -%}
        {% endif %}
    {% endblock %}

    {% block material_link %}
        {% set extra_dict = h.format_extras(pkg) %}
        {% if extra_dict.guid %}
            {% set material_link = h.get_geonetwork_link(extra_dict.guid, pkg.organization.name)%}
        {% elif extra_dict.original_url %}
            {% set material_link = extra_dict.original_url %}
        {% endif %}
        {% if material_link %}
            {{ layout.moduleBoxHead(_('Content Link')) }}
                <a href="{{ material_link }}" class="licenseUrl">{{ material_link }}</a>
            {{ layout.moduleBoxFoot() }}
        {% endif %}

    {% endblock %}

    {% block license_info %}
        {{ layout.moduleBoxHead(_('License')) }}
            {% if  pkg.license_id == 'cc-zero-1.0' or pkg.license_id == 'cc-by-4.0' or pkg.license_id == 'cc-by-4-fi' %}
                {% set creator_user=h.get_user(pkg.get('creator_user_id')) %}
                {% if pkg.organization and pkg.organization.get('name') == "yksityishenkilo"  and creator_user.display_name %}
                    {% snippet 'package/snippets/license_rdf.html',
                    license_id=pkg.license_id,
                    content_title=pkg.title,
                    creator=creator_user.display_name,
                    creator_url=creator_user.url,
                    attribution_url='/data/' + h.lang() + '/dataset/'+pkg.get('name') %}
                {% elif pkg.organization %}
                    {% snippet 'package/snippets/license_rdf.html',
                    license_id=pkg.license_id,
                    content_title=pkg.title,
                    creator=h.extra_translation(pkg.organization, 'title'),
                    creator_url='/data/' +  h.lang() + '/organization/' + pkg.organization.get('name'),
                    attribution_url='/data/' +  h.lang() + '/dataset/' + pkg.get('name') %}
                {% endif %}
            {% else %}
                {% if 'license_url' in pkg %}
                    <a href="{{ pkg.license_url }}" rel="dc:rights">{{ _(pkg.license_title) }}</a>
                {% elif pkg.license_title != None %}
                    <span property="dc:rights">{{ _(pkg.license_title) }}</span>
                {% else %}
                {% set extra_dict = h.format_extras(pkg) %}
                {% if extra_dict.license_url %}
                    <a href="{{ extra_dict.license_url }}" rel="dc:rights" class="licenseUrl">
                    {% if extra_dict.license_title != "None" %}
                        {{ extra_dict.license_title }}
                    {% else %}
                        {{  extra_dict.license_url }}
                    {% endif %}
                    </a>
                {% else %}
                    {{ _('License Not Specified') }}
                {% endif %}
                {% endif %}
            {% endif %}
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block rating %}
      {{ layout.moduleBoxHead(_('Rating')) }}
        {% snippet "rating/snippets/rating.html", package=pkg %}
      {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block package_feedback %}
        {% snippet "package/snippets/send_feedback.html", pkg_dict=pkg %}
    {% endblock %}


    {% block rating_info %}
        {{ layout.moduleBoxHead(_('Dataset Quality')) }}
            {% with stars,reason,last_updated = h.calculate_dataset_stars(pkg.id) %}
            <div>
                <span class="quality-label"> {{_('Resource Quality')}} </span>
                {% for i in range(stars) %}
                    <span class="fas fa-star"></span>
                {% endfor %}
                {% for i in range(5 - stars) %}
                    <span class="far fa-star"></span>
                {% endfor %}
            </div>
            {% endwith %}

            {% with stars = h.calculate_metadata_stars(pkg.id) %}
            <div>
                <span class="quality-label"> {{_('Metadata Quality')}} </span>
                {% for i in range(stars) %}
                    <span class="icon-star"></span>
                {% endfor %}
                {% for i in range(5 - stars) %}
                    <span class="icon-star-empty"></span>
                {% endfor %}
            </div>
            {% snippet "package/snippets/info_tooltip.html", title=_("Dataset's Resource Quality is the highest rating from the resources. It is automatically calculated and if it is zero, resources are unavailable or unknown type. Metadata Quality rating takes field completeness, visits, resource downloads, comments and translations into consideration.") %}
            {% endwith %}
        {{ layout.moduleBoxFoot() }}
    {% endblock %}


    {% block package_info %}
        {% snippet 'package/snippets/info.html', pkg=pkg %}
    {% endblock %}


    {% block stats %}
        {{ layout.moduleBoxHead(_('Stats')) }}
            <span>{{ _('Last 30 days, updated daily') }}</span>
            <div id="chart_div"></div>
            {% set visits = h.get_visits_for_dataset(pkg.id) %}
            {% set download_count_last_year = h.get_download_count_for_dataset_during_last_year(pkg.id) %}
            {% set last_year = h.get_current_date().year - 1 %}
            <span>{{ _('Downloads during year') }} {{last_year}}: {{ download_count_last_year }}</span><br/>
            <span>{{ _('All time visits:') }} {{ visits.count }}</span><br/>
            <span>{{ _('All time downloads:') }} {{ visits.download_count }}</span>
            <script type="text/javascript"
                src="https://www.google.com/jsapi?autoload={
                    'modules':[{
                    'name':'visualization',
                    'version':'1',
                    'packages':['corechart']
                    }]
                }">
            </script>

            <script type="text/javascript">
                google.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                    ["{{ _('Year') }}", "{{ _('Visits') }}", "{{ _('Downloads') }}"],
                    {% for v in visits.visits %}
                        [new Date({{ v.year }}, {{ v.month - 1 }}, {{ v.day }}), {{ v.visits }}, {{ v.downloads }}],
                    {% endfor %}
                    ]);

                    var options = {
                    hAxis: {
                        textPosition: 'none',
                        format: 'dd.MM.yyyy',
                        gridlines: {
                        count : 4
                        }
                    },
                    vAxis: {
                        minValue: 4
                    },
                    legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                    chart.draw(data, options);
                }
            </script>
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block dataset_social %}
        {% snippet "package/snippets/dataset_social.html" %}
    {% endblock %}

    {% block changelog_info %}

        <!-- Dataset Creation and Modification dates-->

        {{ layout.moduleBoxHead(_('Change log')) }}
            <h5 class="sidebar-title">{{_('Dataset')}}</h5>

            <div>{{_('Last Modified')}}: {{ h.render_datetime(pkg.get('metadata_modified'), "%d.%m.%Y")}}</div>
            <div>{{_('Created')}}: {{ h.render_datetime(pkg.get('metadata_created'), "%d.%m.%Y")}}</div>

            <!-- Resource Creation and Modification dates-->

            {% set extra_dict = h.format_extras(pkg) %}

            {% if "resource_modified" in extra_dict or "resource_created" in extra_dict %}
            <h5 class="sidebar-title">{{_('Resource')}}</h5>
            {% endif %}

            {% if extra_dict.get("resource_modified") %}
            <div>{{_('Last Modified')}}: {{ h.render_datetime(extra_dict.get("resource_modified"), "%d.%m.%Y") }}</div>
            {% endif %}
            {% if extra_dict.get("resource_created") %}
            <div>{{_('Created')}}: {{ h.render_datetime(extra_dict.get("resource_created"), "%d.%m.%Y") }}</div>
            {% endif %}

            <br />

            <a href="/data/{{ h.lang() }}/dataset/activity/{{pkg.get('name')}}">{{_('Show change log')}} ></a>
        {{ layout.moduleBoxFoot() }}
    {% endblock %}

    {% block related_info %}
        {# Related items deactivated until better defined and layouts updates #}
    {% endblock %}
</section>
